# Code owners for CamStack integration
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/custom_components/camstack/ @apocaliss92
